/**
============================================
; Title: Assignment 8.2
; File Name: Kendl-whatabook2.css
; Author: Professor Krasso 
; Date: 25 February 2022
; Modified By: Laura Kendl
; Description: CSS for Assignment 8.2 - WhatABook, Part 2.
;===========================================
*/

ul {
    list-style-type: none;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}