/*
============================================
; Title: restaurant.css
; Author: Professor Krasso 
; Date: 17 January 2022
; Modified By: Laura Kendl
; Description: CSS for Assignment 3.2 - Restaurant App.
; Resources: 
; W3schools: https://www.w3schools.com/css/css_grid.asp (CSS Grid Layout Module)
===========================================
*/

 #menu {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
}