/**
============================================
; Title: theme.css
; Author: Professor Krasso 
; Date: 5 February 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to create CSS variables for  website themes.
; Resources:
; Blackboard: Initial code provided by Professor Krasso in WEB330.
; W3schools: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu (Html Lists Menu)
; W3schools: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp (CSS @media Rule)
===========================================
*/

/** Note:
Common breakpoints are: 
320px — 480px for mobile devices 
481px — 768px for iPads & tablets
769px — 1024px for small screens like laptop
1025px — 1200px for large screens like Desktops
1201px and above for extra large screens like TV
*/

body.default-theme {
    --text-color: #000;
    --background-color: rgba(235, 228, 212, 0.6);
    --anchor-color: #FE0535;
    --container-background-color: #FFF;

    /* Content Blocks */
    --content-1-background-color: #FFF;
    --content-2-background-color: #253388;

    --content-block-1-color: #000;
    --content-block-1-border-color: #253388;
    --content-title-1-color: #FE0535;

    --content-block-2-color: #FFF;
    --content-block-2-border-color: #FFF;
    --content-title-2-color: #FFF;

    --content-block-3-border-color: #FE0535;
    --content-block-3-color: #253388;

    /* Primary: */
    --header-background-color: #000; /* Primary */
    --header-color: #FFF;
    --footer-background-color: #FE0535;
    --footer-color: #FFF;

    --heading-background-color: #FFF;
    --heading-color: #FE0535;
    --heading-border-color: #FFF;

    --h1-background-color: #FFF;
    --h1-border-color: #FFF;

    --h3-color: #FE0535;
  
    --btn-background-color: #FE0535;
    --btn-color: #FFF;
    --btn-hover-color: #FFF;
    --btn-border-color: #FE0535;

    --nav-background-color: #FFF;
    --nav-link-color: #FE0535;

    /* Warm */

    /* Accent #1 */
    --anchor-hover-background-color: #253388;
    --anchor-hover-color: #FFF;
    --anchor-color-hover: #253388;
    --btn-hover-background-color: #253388;

    /* Accent #2 */
     
    --card-background-color: #FFF;
    --card-title-color: #FFF;
    --card-title-background-color: #253388;
    --card-main-background-color: #ffffff;
   
    --input-border-color: #CCC;
    --table-header-background-color: #ee4929;
    --table-header-color: #FFF;
    --table-border-color: #DDD;
}

body {
    font-family: 'Raleway', Verdana, Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    background: linear-gradient(rgba(255, 255, 255, .9), 50%, rgba(255, 255, 255, .9)), url("../img/mountain-back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    margin-top: 120px;
    min-height: 100vh;
    margin-bottom: 6rem;
}

@media (min-width: 600px) {
    .main {
      padding: 25px;
    }
}

@media (max-width:599px) {
    .main {
      padding: 15px;
    }
}

#img-about-container {
    height: fit-content !important;
}

#img-about {
    max-width: 100%;
}

#img-hobbies-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.hobby-img {
    padding: 20px;
    max-width: 100%;
}

#icon-mode:hover {
    cursor: pointer;
}

.content-1, .content-2 {
    padding: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 270px;
}

.content-1 {
    background-color: var(--content-1-background-color);
}

.content-2 {
    background-color: var(--content-2-background-color);
}

.content-text {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width: 600px) {
    .content-text {
      padding: 0px;
    }
}

.content-block-1 {
    padding: 20px;
    min-height: 270px;
    border: 5px double var(--content-block-1-border-color);
    color: var(--content-block-1-color);
}

.content-title-1 {
    font-family: 'Handlee', Verdana, Arial, sans-serif;
    text-align: center;
    color: var(--content-title-1-color);
    font-size: 36px;
}

.content-block-2 {
    padding: 20px;
    border: 5px double var(--content-block-2-border-color);
    min-height: 270px !important;
    color: var(--content-block-2-color);
}

.content-title-2 {
    font-family: 'Handlee', Verdana, Arial, sans-serif;
    text-align: center;
    color: var(--content-title-2-color);
    font-size: 36px;
}

#icon-text {
    padding-left: 10px;
}

.pull-right {
    float: right;
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

a:hover {
    color: var(--anchor-hover-color);
    background: var(--anchor-hover-background-color);
}

.navbar {
    background-color: rgba(255,255,255, 1);
    width: 100%;
    display: flex;
    margin-top: -120px;
    margin-left: -10px;
    position: fixed;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;   
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    float: left;
}

.nav-link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    color: var(--nav-link-color);
    text-align: center;
    padding: 10px;
    display: block;
}

.nav-link:hover {
    text-decoration: underline;
}

h1 {
    color: var(--heading-color);
    background: var(--h1-background-color);
    border: solid 1px var(--h1-border-color);
}

h2, h4 {
    color: var(--heading-color);
}

h3 {
    color: var(--h3-color);    
}

h5 {
    font-size: 1.2em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: var(--card-background-color);
    min-height: 250px;
    min-width: 250px;
    margin-bottom: 15px;
}

.main-card {
    background-color: var(--card-main-background-color);
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.40em;
    color: var(--card-title-color);
    background-color: var(--card-title-background-color);
    font-weight: 600;
    padding: 10px;
    
}

.card-content {
    padding: 10px;
}

.card-link {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 22px;
    font-family: 'Handlee';
    text-align: center;
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: var(--btn-color);
}

.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}

.btn-primary:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

th {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
}

th, td {
    border: 1px solid var(--table-border-color);
}

tr:hover {
    background: var(--table-hover-background-color);
    color: var(--table-hover-color);
    cursor: pointer;
}

.table-column {
    float: left;
    width: 33.33%;
}

.table-row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    background-color: var(--footer-background-color);
    color: var(--footer-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

@media (max-width: 600px) {
    footer {
        position: relative;
        margin-top: -4rem;
        width: 100%;
        height: 4rem;
    }
}

.footer-link {
    font-family: 'Roboto',  Verdana, Arial, sans-serif;
    font-size: .70em;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    color: var(--footer-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#copyright {
    font-size: .60em;
    padding-bottom: 10px;
}

#qual-list {
    font-size: .90em;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
}

.qual-list-item {
    padding-top: 5px;
}

#resume-name-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#resume-download {
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

#resume-name {
    margin-bottom: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 20px;
}

.text-center {
    text-align: center;
}