/**
============================================
; Title: Kendl-future-value.css
; Author: Professor Krasso 
; Date: 7 February 2022
; Modified By: Laura Kendl
; Description: CSS for Assignment 6.2 - Future Value App.
;===========================================
*/

 #foodList {
    float: right;
    color: #DF546A;
    font-size: 12px;
    letter-spacing: 2px;
}